In [53]:
import pandas as pd
import numpy as np

In [40]:
data_m = pd.read_csv('student-mat.csv',sep=';')
data_p = pd.read_csv('student-por.csv',sep=';')
data_t = pd.merge(data_p,data_m,how='left')

In [41]:
data_t.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [4]:
data_t.describe().T

            count       mean       std   min   25%   50%   75%   max
age         649.0  16.744222  1.218138  15.0  16.0  17.0  18.0  22.0
Medu        649.0   2.514638  1.134552   0.0   2.0   2.0   4.0   4.0
Fedu        649.0   2.306626  1.099931   0.0   1.0   2.0   3.0   4.0
traveltime  649.0   1.568567  0.748660   1.0   1.0   1.0   2.0   4.0
studytime   649.0   1.930663  0.829510   1.0   1.0   2.0   2.0   4.0
failures    649.0   0.221880  0.593235   0.0   0.0   0.0   0.0   3.0
famrel      649.0   3.930663  0.955717   1.0   4.0   4.0   5.0   5.0
freetime    649.0   3.180277  1.051093   1.0   3.0   3.0   4.0   5.0
goout       649.0   3.184900  1.175766   1.0   2.0   3.0   4.0   5.0
Dalc        649.0   1.502311  0.924834   1.0   1.0   1.0   2.0   5.0
Walc        649.0   2.280431  1.284380   1.0   1.0   2.0   3.0   5.0
health      649.0   3.536210  1.446259   1.0   2.0   4.0   5.0   5.0
absences    649.0   3.659476  4.640759   0.0   0.0   2.0   6.0  32.0
G1          649.0  11.399076  2.745265   0.0  10.0  11.0  13.0  19.0
G2          649.0  11.570108  2.913639   0.0  10.0  11.0  13.0  19.0
G3          649.0  11.906009  3.230656   0.0  10.0  12.0  14.0  19.0

In [80]:
to_drop = ['school','age','famsize','Pstatus','reason','guardian','romantic','famrel','Dalc','Walc','freetime','goout','health']
data_mat = data_t.drop(to_drop, axis=1)

In [81]:
   
def change_job(job):
    if job == 'at_home':
        return 0
    elif job == 'other':
        return 1
    elif job == 'teacher':
        return 2
    elif job == 'services':
        return 3
    else:
        return 4

In [82]:
data_mat['Mjob'] = data_mat['Mjob'].apply(change_job)
data_mat['Fjob'] = data_mat['Fjob'].apply(change_job)

In [83]:
data_mat.head()

,sex,address,Medu,Fedu,Mjob,Fjob,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,absences,G1,G2,G3
0,F,U,4,4,0,2,2,2,0,yes,no,no,no,yes,yes,no,4,0,11,11
1,F,U,1,1,0,1,1,2,0,no,yes,no,no,no,yes,yes,2,9,11,11
2,F,U,1,1,0,1,1,2,0,yes,no,no,no,yes,yes,yes,6,12,13,12
3,F,U,4,2,4,3,1,3,0,no,yes,no,yes,yes,yes,yes,0,14,14,14
4,F,U,3,3,1,1,1,2,0,no,yes,no,no,yes,yes,no,0,11,13,13

In [84]:
 data_mat['sex'] = data_mat['sex'].apply(lambda x: 1 if x =='M' else 0)
 data_mat['address'] = data_mat['address'].apply(lambda x: 1 if x == 'U' else 0)


# YES/NO change


 data_mat['schoolsup'] = data_mat['schoolsup'].apply(lambda x: 1 if x =='yes' else 0)
 data_mat['famsup'] = data_mat['famsup'].apply(lambda x: 1 if x =='yes' else 0)
 data_mat['paid'] = data_mat['paid'].apply(lambda x: 1 if x =='yes' else 0)
 data_mat['activities'] = data_mat['activities'].apply(lambda x: 1 if x =='yes' else 0)
 data_mat['nursery'] = data_mat['nursery'].apply(lambda x: 1 if x =='yes' else 0)
 data_mat['higher'] = data_mat['higher'].apply(lambda x: 1 if x =='yes' else 0)
 data_mat['internet'] = data_mat['internet'].apply(lambda x: 1 if x =='yes' else 0)

In [85]:
# data_mat = data_mat.drop(to_drop,axis=1)
data_mat.head()

,sex,address,Medu,Fedu,Mjob,Fjob,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,absences,G1,G2,G3
0,0,1,4,4,0,2,2,2,0,1,0,0,0,1,1,0,4,0,11,11
1,0,1,1,1,0,1,1,2,0,0,1,0,0,0,1,1,2,9,11,11
2,0,1,1,1,0,1,1,2,0,1,0,0,0,1,1,1,6,12,13,12
3,0,1,4,2,4,3,1,3,0,0,1,0,1,1,1,1,0,14,14,14
4,0,1,3,3,1,1,1,2,0,0,1,0,0,1,1,0,0,11,13,13

In [93]:
from sklearn.preprocessing import OneHotEncoder
onehotEncoder = OneHotEncoder(categorical_features=[2,3,4,5,6,7,8])
X = onehotEncoder.fit_transform(data_mat).toarray()
mask = [2,7,12,17,22,26,30]
np.delete(X,mask,axis=1).shape

/home/artur/.conda/envs/ML_proj/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

array([[ 0.,  0.,  0., ...,  0., 11., 11.],
       [ 0.,  1.,  0., ...,  9., 11., 11.],
       [ 0.,  1.,  0., ..., 12., 13., 12.],
       ...,
       [ 0.,  1.,  0., ..., 11., 12.,  9.],
       [ 0.,  0.,  0., ..., 10., 10., 10.],
       [ 0.,  0.,  0., ..., 10., 11., 11.]])

In [111]:
np.savetxt('data',X,fmt='%.i')

,sex,address,Medu,Fedu,Mjob,Fjob,traveltime,studytime,failures,schoolsup,...,nursery,higher,internet,freetime,goout,health,absences,G1,G2,G3
0,0,0,4,4,0,2,2,2,0,1,...,1,1,0,3,4,3,4,0,11,11
1,0,0,1,1,0,1,1,2,0,0,...,0,1,1,3,3,3,2,9,11,11
2,0,0,1,1,0,1,1,2,0,1,...,1,1,1,3,2,3,6,12,13,12
3,0,0,4,2,4,3,1,3,0,0,...,1,1,1,2,2,5,0,14,14,14
4,0,0,3,3,1,1,1,2,0,0,...,1,1,0,3,2,5,0,11,13,13
5,1,0,4,3,3,1,1,2,0,0,...,1,1,1,4,2,5,6,12,12,13
6,1,0,2,2,1,1,1,2,0,0,...,1,1,1,4,4,3,0,13,12,13
7,0,0,4,4,1,2,2,2,0,1,...,1,1,0,1,4,1,2,10,13,13
8,1,0,3,2,3,1,1,2,0,0,...,1,1,1,2,2,1,0,15,16,17
9,1,0,3,4,1,1,1,2,0,0,...,1,1,1,5,1,5,0,12,12,13
10,0,0,4,4,2,4,1,2,0,0,...,1,1,1,3,3,2,2,14,14,14
11,0,0,2,1,3,1,3,3,0,0,...,1,1,1,2,2,4,0,10,12,13
12,1,0,4,4,4,3,1,1,0,0,...,1,1,1,3,3,5,0,12,13,12
13,1,0,4,3,2,1,2,2,0,0,...,1,1,1,4,3,3,0,12,12,13
14,1,0,2,2,1,1,1,3,0,0,...,1,1,1,5,2,3,0,14,14,15
15,0,0,4,4,4,1,1,1,0,0,...,1,1,1,4,4,2,6,17,17,17
16,0,0,4,4,3,3,1,3,0,0,...,1,1,1,2,3,2,10,13,13,14
17,0,0,3,3,1,1,3,2,0,1,...,1,1,0,3,2,4,2,13,14,14
18,1,0,3,2,3,3,1,1,3,0,...,1,1,1,5,5,5,2,8,8,7
19,1,0,4,3,4,1,1,1,0,0,...,1,1,1,1,3,5,6,12,12,12
20,1,0,4,3,2,1,1,2,0,0,...,1,1,1,4,1,1,0,12,13,14
21,1,0,4,4,4,4,1,1,0,0,...,1,1,1,4,2,5,0,11,12,12
22,1,0,4,2,2,1,1,2,0,0,...,1,1,1,5,1,5,0,12,13,14
23,1,0,2,2,1,1,2,2,0,0,...,1,1,1,4,4,5,2,10,10,10
24,0,0,2,4,3,4,1,3,0,1,...,1,1,1,3,2,5,2,10,11,10
25,0,0,2,2,3,3,1,1,0,0,...,0,1,1,2,2,5,6,10,11,12
26,1,0,2,2,1,1,1,1,0,0,...,1,1,1,2,2,5,8,11,12,12
27,1,0,4,2,4,3,1,1,0,0,...,1,1,1,2,4,1,0,11,11,11
28,1,0,3,4,3,1,1,2,0,1,...,1,1,1,3,3,5,2,12,12,13
29,1,0,4,4,2,2,1,2,0,0,...,1,1,1,4,5,5,4,12,11,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
619,0,0,3,3,3,3,2,2,0,0,...,1,1,1,3,2,3,6,13,12,13
620,0,0,4,4,0,0,1,2,0,0,...,1,1,1,3,4,1,4,15,14,15
621,0,0,1,2,1,3,2,2,0,0,...,0,1,0,2,2,3,0,13,13,13
622,1,0,1,3,0,1,2,2,0,0,...,1,1,0,3,4,3,0,8,10,9
623,1,0,4,4,2,3,2,3,0,0,...,1,1,1,2,2,5,0,15,16,16
624,0,0,1,1,1,3,3,1,1,0,...,1,1,1,2,1,1,0,8,8,9
625,0,0,2,3,0,3,2,1,0,0,...,1,1,1,2,3,4,0,10,10,10
626,0,0,4,4,1,2,3,2,0,0,...,0,1,1,2,2,5,0,7,5,0
627,1,0,1,2,0,3,3,1,0,0,...,1,0,1,3,3,3,3,9,10,10
628,0,0,2,2,1,0,1,3,0,0,...,1,1,0,4,3,3,8,10,11,12
629,0,0,1,2,1,1,1,1,0,0,...,1,1,1,5,5,1,4,7,8,9
630,0,0,4,4,1,1,2,3,0,0,...,1,1,1,4,4,1,0,15,17,17
631,0,0,1,1,1,1,4,3,0,0,...,1,1,1,3,2,4,4,10,11,12
632,0,0,1,1,0,1,2,2,1,0,...,1,1,1,3,3,3,4,7,8,9
633,0,0,4,4,2,3,1,2,0,0,...,1,1,1,4,3,2,1,13,14,14
634,0,0,3,3,1,1,1,2,0,0,...,1,1,1,1,3,1,1,16,16,16
635,0,0,3,1,0,1,1,2,0,0,...,0,1,1,5,4,1,10,8,9,9
636,1,0,4,4,2,2,1,2,0,0,...,0,1,1,2,4,2,4,17,18,19
637,1,0,2,1,1,1,2,1,0,0,...,0,1,1,4,3,5,0,7,7,0
638,1,0,2,3,1,3,2,2,0,0,...,1,1,1,4,3,3,4,14,15,16
639,1,0,1,1,1,3,2,1,1,0,...,1,1,0,3,2,5,0,5,8,0
640,1,0,4,2,1,1,2,1,1,0,...,1,1,0,4,3,3,0,7,7,0
641,0,0,2,2,0,1,2,3,0,0,...,1,1,0,3,3,4,0,14,17,15
642,0,0,4,3,2,1,2,2,0,0,...,1,1,1,5,4,1,0,6,9,11
643,0,0,4,4,2,0,3,1,0,0,...,1,1,1,4,3,5,4,7,9,10
644,0,0,2,3,3,1,1,3,1,0,...,0,1,1,4,2,5,4,10,11,10
645,0,0,3,1,2,3,1,2,0,0,...,1,1,1,3,4,1,4,15,15,16
646,0,0,1,1,1,1,2,2,0,0,...,1,1,0,1,1,5,6,11,12,9
647,1,0,3,1,3,3,2,1,0,0,...,0,1,1,4,5,2,6,10,10,10
648,1,0,3,2,3,1,3,1,0,0,...,0,1,1,4,1,5,4,10,11,11